@media only screen and (min-width: 60em) {

  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  .sitehd {
    font-size: 50px;
  }

  .motto {
    font-size: 30px;
    text-align: center;
    padding: 40px;
  }

  .summary {
    padding: 25px;
  }

  .summary p {
    font-size: 16px;
}

.summary p span {
  font-size: 16px;
}

.summary h3 {
  font-size: 18px;
}

  .ht {
    text-align: center;
  }

  h1 {
    font-size: 25px;
    text-align: center;
  }

  h2 {
    font-size: 22px;

}

  .tb {
    display: contents;
    margin: 20px;
  }

  .tb h2 {
    color: #DF362D;
  }

  .div1 ul li {
    font-size: 16px;
  }

  .ghd {
    border-style: hidden hidden dotted hidden;
    border-color: #5289B5;
    padding-bottom: 40px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 480px 480px;
    grid-template-rows: 320px 320px;
  }

  .gallery img {
    width: 95%;
  }

  footer {
		font-size: 15px;
  }
  
  .div3 p {
   font-size: 15px;
}

.div3 h3 {
  font-size: 18px;
}

  /* ______________________ RENTAL PAGE ______________________ */

  .div4 {
    margin: 0;
  }

  .div4 ul li {
    margin-left: 180px;
    line-height: 25px;
    font-size: 15px;
  }

  .scoots h3 {
    font-size: 18px;
}

  .scoots img {
    width: 50%;
  }

  /* ______________________ RESERVATION PAGE ______________________ */

  form legend {
    font-size: 20px;
  }

  form input.button {
    width: 40%;
    margin: 0px 28px 40px 28px
  }

  form label.top,
  form div {
    font-size: 15px;

  }

  form label.mid {
    font-size: 15px;
  }

  form label.top input,
  form label.top select {
    font-size: 13px;
    width: 80%;

  }

  textarea {
    width: 400px;
    height: 200px;
  }

  /* ______________________ TOURS PAGE ______________________ */
  
  .div6 ul li {
    margin-left: 330px;
    line-height: 25px;
      font-size: 15px;
  }

  .div7 {
    display: block;
  }

  .div7 p {
    line-height: 28px;
    font-size: 15px;
  }

  .div7 h3 {
    font-size: 18px;
}

  .div7 img {
    width: 50%;
    padding-bottom: 40px;
  }

  .div8 h2 {
    font-size: 22px;
}

  .div8 p {
    line-height: 28px;
    font-size: 15px;
  }

  .div8 img {
    display: block;
    width: 50%;
    margin: auto;
  }


  /* ______________________ CONTACT PAGE ______________________ */

  .div9 h2 {
    margin: 0;
    padding: 0;
  }

  .div10 img {
    width: 40%;
  }

}