/* ______________________ PAGE SETTINGS ______________________ */
main {
    background-color: white;
}

body {
    background-color: #5289B5;
    padding: 0px;
    margin: 0px;
}

html,
body {
    overflow-x: hidden;
}

header {
    max-width: 100%;
    background-color: #2B2D42;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

header img {
    padding: 5px 0px 5px 0;
    max-width: 100%;
    height: 100px;
}

nav {
    margin: 0;
    max-width: 100%;
    background-color: #DF362D;
    padding: 0;
}

nav>ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    padding: 20px;
}

.navigation a:hover {
    background-color: #AFD8F2;
    border: 1px dashed #AFD8F2;
    color: black;
}

.active {
    color: black !important;
    background-color: #AFD8F2;
    border: 1px dashed black;
}

.responsive li {
    display: block;
}

/* ______________________ HOME PAGE ______________________ */

.sitehd {
    color: white;
    font-family: 'Paytone One', sans-serif;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}

.motto {
    color: #3A6EA5;
    font-family: 'Paytone One', sans-serif;
    padding: 20px;
    font-size: 25px;
    text-align: left;
}

.ht {
    text-align: left;
    color: #59981A;
    font-family: 'Noto Sans JP', serif;
    padding-left: 0;
}

.menu {
    font-size: 20px;
}

h1 {
    margin: auto;
    padding: 20px;
    color: #DF362D;
    font-family: 'Noto Sans JP', serif;
    font-size: 20px;
}

.heroimg {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.summary {
    display: grid;
    padding: 20px;
    text-align: center;
    border-style: hidden hidden dotted hidden;
    border-color: #3A6EA5;
    font-family: 'Noto Sans JP', sans-serif;
}

.summary p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
}

.summary p span,
h3 {
    color: #DF362D;
    font-family: 'Noto Sans JP', serif;
    margin: 0;
    font-size: 13px;
}

.summary h3 {
    font-size: 15px;
}

h2 {
    color: #3A6EA5;
    font-family: 'Noto Sans JP', serif;
    font-size: 18px;
    padding-top: 20px;
    margin-left: 20px;
}

.div1 {
    margin-top: 40px;
    text-align: center;
    border-style: dotted hidden dotted hidden;
    border-color: #5289B5;
    padding: 20px;
    font-family: 'Merriweather', serif;
}

.div1 ul li {
    text-align: center;
    list-style: none;
    font-size: 13px;
}

.div1 h2 {
    margin: 0;
    padding-top: 8px;
}

.ghd h1 {
    padding-top: 20px;
}

.ghd {
    border-style: hidden hidden hidden hidden;
    border-color: #5289B5;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
}

.gallery img {
    margin: auto;
    width: 100%;
}

.div2 {
    margin-top: 40px;
    font-family: 'Merriweather', serif;
}

table,
th,
td {
    padding: 10px;
    margin: 0 auto;
    border: #14213d solid 2px;
    border-spacing: 3px;
    margin: auto;
    text-align: center;
    font-size: 13px;
    background-color: #AFD8F2;
    font-family: 'Merriweather', serif;
}

th,
tr {
    color: #2B2D42;
}

.tb {
    display: none;
    border-style: hidden hidden hidden hidden;
}

.div3 {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    border-style: dotted hidden hidden hidden;
    border-color: #5289B5;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
}

.div3 h3 {
    font-size: 15px;
}

footer {
    background-color: #2B2D42;
    color: white;
    text-align: center;
    padding: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
}

footer a {
    color: #AFD8F2;
}

/* ______________________ RENTAL PAGE ______________________ */

.div4 {
    border-style: hidden hidden hidden;
    border-color: #5289B5;
    padding: 20px;
    font-family: 'Merriweather', serif;
    text-align: left;
    margin: 0px 30px 40px 30px;

}

.div4 p{
    margin: auto;
    padding: 20px;
}

.div4 ul li {
    line-height: 28px;
    font-size: 13px;
}

.div4 h1 {
    margin-left: 20px;
    padding: 2px;
}

.scoots {
    border-style: dotted hidden hidden hidden;
    border-color: #5289B5;
    margin-top: 40px;
}

.scoots img {
    display: block;
    margin: auto;
    width: 100%;
}

.scoots h3 {
    text-align: center;
    padding: 15px;
    color: #3A6EA5;
    font-size: 15px;
}

.container {
    padding: 20px;
}

/* ______________________ RESERVATION PAGE ______________________ */

form fieldset {
    margin: 25px;
    border: #5289B5 solid 2px;
    border-radius: 10px;
    padding: 0px 20px 20px;
}

form legend {
    color: #DF362D;
    font-family: 'Merriweather', serif;
    padding: 10px;
}

form label.top,
form div {
    display: block;
    padding-top: 20px;
    color: #14213d;
    font-size: 13px;
    font-family: 'Noto Sans JP', serif;
}

form label.mid {
    font-size: 13px;
    font-family: 'Noto Sans JP', serif;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 12px;
    border: grey solid 1px;
    border-radius: 5px;
    padding: 10px;
    color: black;
    width: 95%;
    background-color: #ecf8ff;
    margin-top: 5px;
}

form label.top input::placeholder {
    color: black;
}

form label.sbs {
    display: block;
    padding: 10px;
}

form input.button {
    border: none;
    background-color: #DF362D;
    color: white;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 0px 28px 30px 28px;
    width: 50%;
    font-family: 'Noto Sans JP', serif;
}

form input.button:hover {
    background-color: #59981A;
    color: white;
}

textarea {
    width: 200px;
    height: 100px;
    background-color: #ecf8ff;
    padding: 10px;
    margin-top: 5px;
}

form label.top input:required {
    border-right: 6px solid #DF362D;
}

form label.top input:required:valid {
    border-right: 6px solid #59981A;
}

/* ______________________ THANKS PAGE ______________________ */

.thanks {
    font-family: 'Merriweather', serif;
    text-align: left;
    padding: 20px 50px 20px 50px;
}

/* ______________________ TOURS PAGE ______________________ */

.div6 {
    border-style: hidden hidden dotted hidden;
    border-color: #5289B5;
    padding: 20px;
    font-family: 'Merriweather', serif;
}

.div6 ul li {
    line-height: 28px;
        font-size: 13px;
}

.div7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    border-style: hidden hidden dotted hidden;
    border-color: #5289B5;
    padding: 20px;
    font-family: 'Merriweather', serif;
}

.div7 h3 {
        font-size: 15px;
}

.div7 p {
    font-size: 13px;
    line-height: 25px;
}

.div7 img {
    width: 100%;
}

.div8 h2 {
    font-size: 15px;
}
.div8 p {
    font-family: 'Merriweather', serif;
    font-size: 13px;
    margin: 10px;
    padding: 10px;
    line-height: 25px;
}

.div8 img {
    padding: 20px;
    width: 90%;
}

a {
    color: #497c16;
}

/* ______________________ CONTACT PAGE ______________________ */

.div9 h2 {
    margin-left: 20px;
    padding: 0;
    line-height: 0;
}

.div10 {
    text-align: center;
    border-style: dotted hidden hidden hidden;
    border-color: #5289B5;
    padding-bottom: 40px;
}

.div10 h2 {
    padding-top: 20px;
}

.div10 h3 {
    padding: 20px;
}

.div10 img {
    display: block;
    margin: auto;
    width: 70%;
}