@media only screen and (min-width: 60em) {

    main {
        max-width: 1280px;
        margin: auto;
    }

    .sitehd {
        font-size: 40px;
    }

    .gallery {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 330px 330px 330px;
        grid-gap: 30px;
        margin-bottom: 30px;
    }

    .container {
        margin-bottom: 10px;
    }

    .container:hover {
       box-shadow: 5px 5px 5px 5px #D8BFD8;
       text-shadow: 0 0 3px #f8519c;
    }

}