body {
    background-color: white;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: rebeccapurple;
}

picture {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.placeholder img[data-src] {
    filter: blur(0.2em);
}

.placeholder img {
    filter: blur(0);
    transition: filter 1s;
}

picture img {
    border: palevioletred 2px solid;
    padding: 2px;
    margin: 2px;
}