main {
    margin: 30px;
}

table {
    box-shadow: 10px 10px 10px #628ca6;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 10px;
    border: #c7c6c6 solid 1.5px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

table>thead>tr>th {
    color: black;
    background-color: #7fb9c2;
    font-weight: bold;
    font-size: 25px;
}


th {
    background-color: #628ca6;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


tr {
    background-color: #e7f0ed;
    font-size: 15px;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
    font-size: 15px;
}

#special {
    color: white;
    background-color: #628ca6 !important;
}


tfoot>tr>td {
    background-color: #7fb9c2;
    font-size: 13px;
}