main {
    margin: 30px;
}


table,
th,
td {
    border-collapse: collapse;
    padding: 10px;
    border:	#c7c6c6 solid 1.5px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

th {
    background-color: #7fb9c2;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

tr:nth-child(2) {
    color: white;
    background-color: #628ca6 !important;
    font-weight: bold;
    font-size: 20px;
}

 tr:nth-child(even) {
    background-color: #e7ffed;
    font-size: 15px;
}

tr:nth-child(odd) {
    background-color: #e7f0ed;
    font-size: 15px;
}

#num {
    color: white;
    background-color: #628ca6 !important;
}

tr>td.special  {
    font-style: italic;
}

tfoot>tr>td {
    background-color: #7fb9c2;
    font-size: 13px;
}